body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.contents { /* section 태그 */
}

.main { /* div */
	background-color: skyblue;
	width: auto;
}

.main header { /* div 안에 header */
	background-color: lightgray;
	width: auto;
	top: 0;
}

.left { /* aside */
	background-color: pink;
	width: 200px;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.right { /* aside */
	background-color: greenyellow;
	width: 300px;
	height: 100%;
	top: 0;
	right:0;
	position: absolute;
}

footer {
	background-color: yellow;
	width: 100%;
	height: 50px;
	display: block;
}
